{
	email {$TLS_EMAIL}
	admin 127.0.0.1:2019
}

{$APP_DOMAIN} {
	encode zstd gzip
	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options nosniff
		X-Frame-Options DENY
		Referrer-Policy strict-origin-when-cross-origin
	}

{$SUPABASE_GATEWAY_ROUTE}

	reverse_proxy 127.0.0.1:{$APP_PORT}
	log {
		output file {$CADDY_LOG_PATH} {
			roll_size 100MiB
			roll_keep 10
		}
		format json
	}
}

{$SUPABASE_STUDIO_SITE}
